@charset "UFT-8";
/* reset */
*{margin:0; padding:0; list-style: none;text-decoration:none; color:#333; font-family: 'Noto Sans KR', sans-serif; box-sizing: border-box;
}
.clear-g::after{
    display: block;
    clear:both;
    content:'';
}

.wrap{
    width: 1200px;
    margin:0 auto;/*block요소를 가운데 정렬*/
}
#header {
    /* float 해제 방법 */
    height: 100px; 
    overflow: hidden;
    background:#f6f6f6;

}
#header h1 {float: left;}
#header nav {float: right;}
#header nav ul.nav-depth1 li {float: left;}

.slide ul{overflow:hidden;}
.slide ul li{width: 30%; height: 300px;float: left; margin-right:5%;background:#f0f0f0;}
.slide ul li:last-child{margin-right:0;}

/* float 해제방법 */
/*.container::after {
    clear: both;
    display:block;
    content:'';
}*/
.container section{width: 30%;height: 200px; background: #ccc; float: left;margin-right:5%; text-align: center;}
.container section:last-child{margin-right: 0;}

footer{background: #a0a0a0;}
footer h1{float: left; width: 10%;}
footer .copyright{float: left; width: 30%;}
footer .sns{float: right; width: 20%; }